---
import Layout from '../layouts/Layout.astro';
import FontsPreviewList from '../components/FontsPreviewList.astro';
import Logo from '../components/Logo.astro';
import Trash from '../icons/trash.svg';
---

<Layout title="Favourites - Fonts Dashboard" isHomepage={false}>
	<div>
		<Logo small={true}  />
		<h1 transition:name="h1-title-favourites">My Favourites</h1>
	</div>
	<div data-filtered-fonts-list-favourites hidden>
		<FontsPreviewList showFontsFilteringForm={false} showFontsPreviewCustomizationForm={false} />
		<p data-no-favourites-saved>No fonts saved as favourites yet</p>
		<button data-erase-favourites-list>Clear Favourites list <Trash /></button>
	</div>

	<script src="../scripts/favourites-page-scripts.ts"></script>
</Layout>

<style>
	div:has(> h1) {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0;
		margin-block-start: 7rem;
		margin-block-end: 4rem;

		& > * {
			margin: 0;
		}
	}

	button[data-erase-favourites-list] {
		margin-block-end: 2rem;
		margin-inline-start: 2rem;
		padding: 0.5rem 1rem;
		font-size: 1rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		border: 1px solid color-mix(in oklab, var(--color-text-bw) 25%, var(--red) 50%);
		border-radius: 0.5rem;
		color: var(--color-text-bw)
		cursor: pointer;
		background-color: color-mix(in oklab, var(--color-text-bw) 25%, var(--red) 25%);
		transition: all 0.2s ease-in-out;

		&[hidden] {
			display: none;
		}

		svg {
			width: 1rem;
			height: 1rem;
			fill: currentColor;
			opacity: 0.8;
			scale: 1;
			transition: all 0.2s ease-in-out;
		}

		&:hover {
			background-color: color-mix(in oklab, var(--color-text-bw) 25%, var(--red) 75%);
			color: var(--color-text-bw);

			& svg {
				opacity: 1;
				scale: 1.1;
			}
		}
	}
</style>