---
import Layout from '../layouts/Layout.astro';
import FontsPreviewList from '../components/FontsPreviewList.astro';
---

<Layout title="Fonts Dashboard" isHomepage={true}>
	<h1>Fonts Dashboard</h1>
	<FontsPreviewList />
</Layout>
