---
import FontPreview from '../components/FontPreview.astro';
import { fontsList } from "../content/fonts-list"

const defaultFontPreviewSize = 2;
---

<form>
  <div id="font-size">
    <label for="font-preview-size">Font Preview Size</label>
    <input id="font-preview-size" type="range" min="1" max="4" step="0.1" value={defaultFontPreviewSize}>
  </div>
  <div id="font-weight">
    <label for="font-preview-weight">Font Weight</label>
    <input id="font-preview-weight" type="range" min="100" max="900" step="100" value="400">
    <p>⚠️ Beware, the "weight" preview is flawed at the moment. Better go to the original font page.</p>
  </div>
  <div id="font-italic">
    <label for="font-preview-italic">Italic</label>
    <input id="font-preview-italic" type="checkbox">
  </div>
  <div id="font-categories">
      <div id="font-preview-categories">
        <label><input type="checkbox" name="font-category" value="serif"> Serif</label>
        <label><input type="checkbox" name="font-category" value="sans-serif"> Sans Serif</label>
        <label><input type="checkbox" name="font-category" value="display"> Display</label>
        <label><input type="checkbox" name="font-category" value="handwriting"> Handwriting</label>
        <label><input type="checkbox" name="font-category" value="monospace"> Monospace</label>
      </div>
  </div>
</form>

<script src="../scripts/fonts-preview-list.ts"></script>

<div id="fonts-preview-list" >
  <ul>
    {fontsList.map(font => (
      <li>
        <FontPreview fontToPreview={font} />
      </li>))}
  </ul>
</div>

<style>
  form {
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    div {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 15rem;
    }

    input[type="range"] {
      width: 100%;
    }
  }

  div#fonts-preview-list {
    padding: 1rem 2rem;

    & > ul  {
      display: grid;
      gap: 2rem;

      & li:has(details[hidden]) {
        display: none;
      }
    }
  }
</style>